---
layout: default
---

<style>.menu-open>span.label { display: none; }</style>

<div class="content destination highlights">

    <h1 style="background-image: url('{{ site.baseurl }}/images/100percentdesign_background.jpg');">100% Design<br>Olympia<br>21-24 Sept.</h1>
    <ul class="brand-list">
    {% for highlight in site.data.100percentdesign_highlights %}
        <li>
            <h3>{{ highlight.name }}</h3>
            <p>{{ highlight.description }}</p>
        </li>
    {% endfor %}
    </ul>

</div>

{% include destination-menu.html %}
