<!-- Burger icon -->
<a class="menu-open" href="#menu">
	<span></span>
	<span></span>
	<span></span>
	<span class="label">Explore</span>
</a>

<!-- Menu slide-out panel -->
<div class="menu">
	
	<!-- Destination list -->
	<ul>
		<li><a href="/100percentdesign">100% Design</a></li>
		<li><a href="#">Decorex International</a></li>
		<li><a href="#">designjunction</a></li>
		<li><a href="#">Focus/16</a></li>
		<li><a href="#">The London Design Fair</a></li>
	</ul>
	
	<!-- Close button -->
	<a href="#" class="menu-close">
		&times;
	</a>
	
	<div class="footer">
		<a href="/">Index</a>
		<a href="#">About</a>
	</div>
	
</div>