<!-- Burger icon -->
<a class="menu-open" href="#menu">
	<span></span>
	<span></span>
	<span></span>
	<span class="label">Explore</span>
</a>

<!-- Menu slide-out panel -->
<div class="menu">

	<!-- Destination list -->
	<ul>
		<li><a href="{{ site.baseurl }}/100percentdesign">100% Design</a></li>
		<li><a href="{{ site.baseurl }}/decorexinternational">Decorex International</a></li>
		<li><a href="{{ site.baseurl }}/designjunction">designjunction</a></li>
		<li><a href="{{ site.baseurl }}/focus16">Focus/16</a></li>
		<li><a href="{{ site.baseurl }}/thelondondesignfair">The London <br>Design Fair</a></li>
	</ul>

	<!-- Close button -->
	<a href="#" class="menu-close">
		&times;
	</a>

	<div class="footer">
		<a href="{{ site.baseurl }}/">Index</a>
		<a href="{{ site.baseurl }}/about">About</a>
	</div>

</div>
