// Menu

.menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background: $white;
    z-index: 100;
    transform: translateX(100vw);
    transition: transform .4s ease;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 200;
}

.menu>ul {
    list-style: none;
    font-size: $large-font-size*.8;
    margin-top: $spacing-unit*6;
}

.menu>ul>li {
    opacity: 0;
    transform: translateY(10px);
    transition: all .01s;
    transition-delay: .5s;
}

.menu>ul>li>a {
    color: $black;
    text-decoration: none;
    display: block;
    padding: $spacing-unit $spacing-unit*6;
}

.menu-open {
    position: fixed;
    top: 0;
    right: 0;
    width: 60px;
    padding: 23px;
    color: $black;
    text-decoration: none;
    z-index: 100;
    animation: slide-in 1s ease;
    mix-blend-mode: difference;
}

@keyframes slide-in {
    0% { transform: translateX(100%); }
    100% { transform: translateY(0); }
}

.menu-open span:not(.label) {
    background: $white;
    height: 2px;
    width: 100%;
    display: block;
    margin: 0 0 3px 0;
}

.menu-open .label {
    display: block;
    transform: rotate(90deg);
    margin: 7px 0 0 0;
    position: relative;
    right: 2px;
    color: $white;
}

.menu-close {
    display: block;
    transform: scale(0.8) rotate(-30deg);
    margin: $spacing-unit*2 auto;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: $shadow;
    line-height: 64px;
    font-size: $large-font-size;
    color: $black;
    text-decoration: none;
    opacity: 0;
    transition: all .01s;
    transition-delay: .5s;
}

.menu-close:active {
    box-shadow: $shadow-pressed;
}

.menu .footer {
    height: 60px;
    line-height: 60px;
    display: table;
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding: 0 $spacing-unit*10;
}

.menu .footer a {
    display: table-cell;
    color: $grey;
}


//Active

#menu:target .menu {
    transform: translateX(0);
}

#menu:target .content {
    transform: scale(0.9);
}

#menu:target .menu>ul>li {
    opacity: 1;
    transform: translateY(0);

    transition: all 1s ease;
    @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
            transition-delay: 0.1s * $i;
        }
    }

}

#menu:target .menu-close {
    transform: scale(1) rotate(0deg);
    opacity: 1;
    transition: box-shadow .3s ease, transform 1s ease, opacity 1s ease;
    transition-delay: .6s;
}
