@font-face {
    font-family: 'Maison Neue';
    src: url(#{$base-url}/fonts/maisonneue-medium.eot);
    src: url(#{$base-url}/fonts/maisonneue-medium.eot?#iefix) format('embedded-opentype'),
         url(#{$base-url}/fonts/maisonneue-medium.woff2) format('woff2'),
         url(#{$base-url}/fonts/maisonneue-medium.woff) format('woff'),
         url(#{$base-url}/fonts/maisonneue-medium.ttf) format('truetype'),
         url(#{$base-url}/fonts/maisonneue-medium.svg#maison_neuemedium) format('svg');
    font-weight: 400;
    font-style: normal;
}

$base-font-family: 'Maison Neue', sans-serif;
$base-font-size: 18px;
$base-font-weight: 400;
$small-font-size: $base-font-size * 0.77;
$large-font-size: $base-font-size * 2;
$base-line-height: 1.2;

body {
    font-family: $base-font-family;
    line-height: $base-line-height;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: $black;
}

h1, h2, h3, h4, h5 {
    font-weight: 400;
}

h1, h2 {
    font-size: $large-font-size;
}

h3 {
    font-size: $base-font-size;
}

h4, h5 {
    font-size: $small-font-size;
}
