---
layout: default
---

<style>.menu-open>span.label { display: none; } .destination-menu>li:nth-child(2)>a { opacity: 1; }</style>

<div class="content destination brands">

    <h1>Decorex International<br>Syon Park<br>18-21 Sept.</h1>
    <h4>Selected exhibiting brands:</h4>
    <ul class="brand-list">
    {% for brand in site.data.decorexinternational_brands %}
        <li>
        	<h5>{{ brand.location }}</h5>
            <h2>{{ brand.name }}</h2>
            <div class="image" style="background-image: url('{{ site.baseurl }}{{ brand.image }}');"></div>
            <p>{{ brand.description }}</p>
            <a class="button" href="https://clippings.com/search?q=&hPP=60&idx=products&p=0&dFR%5BbrandName%5D%5B0%5D={{ brand.slug }}&is_v=1" target="_blank">Shop {{ brand.name }}</a>
        </li>
    {% endfor %}
    </ul>

</div>

{% include destination-menu.html %}
