---
layout: default
---

<style>.menu-open>span.label { display: none; } .destination-menu>li:nth-child(1)>a { opacity: 1; }</style>

<div class="content destination highlights">

    <h1 style="background-image: url('{{ site.baseurl }}/images/decorexinternational_background.jpg');">Decorex International<br>Syon Park<br>18-21 Sept.</h1>
    <ul class="brand-list">
    {% for highlight in site.data.decorexinternational_highlights %}
        <li>
            <h3>{{ highlight.name }}</h3>
            <p>{{ highlight.description }}</p>
        </li>
    {% endfor %}
    </ul>

</div>

{% include destination-menu.html %}
